<!DOCTYPE html>
<html lang="en">
<head>
     <title>Bizim Restaurant</title>
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link rel="stylesheet" href="/css/main.css">
     <link rel="stylesheet" href="/css/card.css">



</head>
<body>
          <nav class="navbar navbar-inverse" style="color:white">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="/">Bizim Restaurant</a>
                      </div>
                      <div class="collapse navbar-collapse" id="collapsibleNavbar">
                              <ul class="nav navbar-nav navbar-left">
                                  <li><a href="/yemekler"> Yemekler</a></li>
                                  <li><a href="/yemekler/yeni">Yemek Ekle</a></li>
                              </ul>
                              <ul class="nav navbar-nav navbar-right">
                                  <%if(!currentUser){%>                                  
                                      <li><a href="/girisyap"> Giris</a></li>
                                      <li><a href="/kaydol"> Kaydol</a></li>
                                  <%}else{%>
                                      <li><a href="/user/<%=currentUser._id %>/profile"><%=currentUser.username%></a></li>
                                      <li><a href="/cikisyap"> Cikis</a></li>
                                  <%}%>
                              </ul>
                    </div>  
          </div>
     </nav>
    
